RewriteEngine On
RewriteBase /

# If file or folder exists, serve it
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, send everything to React
RewriteRule ^ index.html [L]