/* navbar */
.navbar {
  margin-bottom: 20px;
  padding: 10px 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

.navbar__menu {
  display: flex;
  gap: 20px;
  padding-right: 10px;
  align-items: center;
  color: #909696;
  font-size: 1.4rem;
  font-weight: 500;
  width: -webkit-fill-available;
  margin-left: 50px;
}

.navbar__menu-btn-login {
  color: #0a0a0a !important;
  font-weight: 600 !important;
  background-color: #fff !important;
}

.navbar__menu-input {
  width: 80%;
  height: 38px;
  padding: 5px 8px;
  forced-color-adjust: none;
  border: none;
  padding-left: 17px;
  border-radius: 11px;
  font-size: 0.8em;
  background-color: #e0e4e4;
}

.navbar__menu input:focus {
  border-color: #aaa;
  /* subtle focus border */
  box-shadow: none;
  /* remove blue glow */
  font-weight: normal;
  /* keep text normal on focus */
  outline: none;
}

.navbar__menu-btn {
  border: none;
  color: #909696;
}

.submit__img-btn {
  border: 1px solid #bfaeae;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  height: 40px;
  border-radius: 7px;
  width: 100px;
  transition: all 0.4s ease;
}

.submit__img-btn:hover {
  background-color: #ac2323;
  border-color: yellow;
}

.options {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.options-item {
  border-bottom: 2px solid #000;
  cursor: pointer;
}

/* end navbar */

/* hero */
.hero {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
  margin: 0 15vw;
}

.hero__images {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  max-width: 410px;
}

.hero__images-image img {
  width: 410px;
  height: auto;
  display: block;
  cursor: pointer;
  object-fit: contain;
}

.collection {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  right: 117px;
  margin-bottom: 20px;
  margin: 10px 10vw;
}

.collection-intro {
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 100;
}

.collection-card-front {
  border: 1px solid #afa8a8;
  padding: 20px;
  height: 235px;
  border: 1px solid #e9e7e7;
  width: 230px;
}

.collection-card-item {
  cursor: pointer;
}

.collection-card-item.s {
 text-decoration: underline;
}

.collection-card-front-head {
  display: flex;
  gap: 70px;
}

.colection__photos-show img {
  height: 400px;
  width: 400px;
  display: block;
  margin: auto;
}
/* end hero */
.community {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  gap: 40px;
}

.community-card {
  display: flex;
  gap: 20px;
  align-items: center;
}

.community-card img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  display: block;
}

.community-photos {
  display: flex;
  gap: 20px;
}

.community-photo img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

/* profile */

.profile_container {
  margin: 10vh 12vw;
  padding: 20px;
}

.profile_user {
  display: flex;
  gap: 90px;
}

.profile_icon img {
  object-fit: contain;
  height: 260px;
  width: 260px;
  border-radius: 50%;
}
/* end profile */

/* collection__menu */
.collections__menu {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #a8a3a3;
  padding: 20px 0;
}

.colection__photos-show {
}
.colections__menu-item {
  cursor: pointer;
}
/* end */
