/* navbar */
.navbar {
    border-bottom: 1px solid #cccece;
    margin-bottom: 20px;
    padding: 10px 20px;
    height: 50px;
    display: flex;
    align-items: center;
}

.navbar__menu {
    display: flex;
    gap: 20px;
    padding-right: 10px;
    align-items: center;
    color: #909696;
    font-size: 1.4rem;
    font-weight: 500;
    width: -webkit-fill-available;
    margin-left: 50px;
}

.navbar__menu-btn-login {
    width: 70px;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: #aaa;
    border-radius: 12px;
    height: 40px;

}


.navbar__menu-input {
    width: 70%;
    height: 38px;
    padding: 5px 8px;
    forced-color-adjust: none;
    border: 1px solid #909696;
    padding-left: 17px;
    border-radius: 28px;
    font-size: .8em;
    background-color: #e0e4e4;

}

.navbar__menu input:focus {
    border-color: #aaa;
    /* subtle focus border */
    box-shadow: none;
    /* remove blue glow */
    font-weight: normal;
    /* keep text normal on focus */
    outline: none;
}

.navbar__menu-btn {
    border: none;
    color: #909696;

}

.submit__img-btn {
    font-weight: 600;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    height: 40px;
    border-radius: 12px;
}

.options {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.options-item {
    border-bottom: 2px solid #000;
    cursor: pointer;
}

/* end navbar */

/* hero */
.hero {
    display: flex;
    justify-content: center;
    gap: 20px;

    /* overflow-x: none; */
}

.collection {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    right: 117px;
    margin-bottom: 20px;
    margin: 10px 10vw;
}


.collection-card {
    height: 260px;
    width: 350px;
    border-radius: 12px;
    border: 1px solid;
    position: relative;
}

.collection-card h4 {
    position: absolute;
    top: 100px;
    left: 100px;
    transform: rotateX('angle');
}

.collection-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.hero__images-image img {
    width: 500px;
    height: 700px;
    cursor: pointer;

}

.hero__images-image img {

}


/* end hero */
.community {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    gap: 40px;
}

.community-card {
    display: flex;
    gap: 20px;
    align-items: center;
}

.community-card img {
    height: 200px;
    width: 200px;
    object-fit: contain;
     display: block;

}

.community-photos {
    display: flex;
    gap: 20px;
}

.community-photo img {
    height: 200px;
    width: 200px;
    object-fit: cover; 
}