@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  background-color:#FAFAFB;
  font-family: 'Poppins';
  
}

a {
  color: initial;
}


button {
  border-radius: 8px;
  background: var(--blue-1, #2F80ED);
  border: none;
  width: 101px;
  height: 31.984px;
  color: #FFF;
  font-family: 'Noto Sans';
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.42px;
  cursor: pointer;
}

/* Upload page */

.image p {
  color: #828282;
  /* text-align: center;
  font-size: 10px;
  margin-top: 20px;
  line-height: 16px;
  display: block; */
}

.image {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 402px;
  height: 469px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px 0px #0000001A;
}

.image__box {
  bottom: 35px;
  position: relative;
  width: 338px;
  height: 218.903px;
  margin-top: 60px;
  border-radius: 12px;
  background-color: #F6F8FB;
  border: 1px dashed #97BEF4;
}

.image__box-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}

.image h1 {
  color: #4F4F4F;
  text-align: center;
  margin: -5px 0;
  padding: 0;
  line-height: 27px;
  font-size: 18px;
  letter-spacing: -0.035em;

}

.or {
  position: relative;
  bottom: 20px;
}

/* Loaging process */

.loading {
  width: 400.36px;
  height: 143.57px;
  border-radius: 12px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #0000001A;

}

.loading__box--text {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #4F4F4F;
  
}


.loading__loader {
  width: 340.71px;
  height: 6px;
  border-radius: 8px;
  background-color: #2F80ED;
  animation: slide 2s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Uploaded image and link */
.Uploaded__image {
  width: 338px;
  height: 224.4px;
  border-radius: 12px;
  justify-content: center;
}

.Upload__message {
    text-align: center;
}

.Uploaded__image--message {
  display: grid;
  text-align: center;
  justify-content: center;
  width: 198px;
  height: 76.52px;
  
}

.Upload__message-title{
  font-size: 18px;
  color: #4F4F4F;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 10px;
}

.Uploaded__image--link {

  display: flex;
  border: 1px solid #E0E0E0;
  align-items: center;
  width: 338px;
  height: 34px;
  border-radius: 8px;
  background-color: #F6F8FB;
  justify-content: space-between;
}

.Uploaded__image--link-p {
  text-align: center;
  line-height: 12px;
  font-size: 8px;
  background-color: inherit;
  color: #4F4F4F;
  padding-left: 5px;
  overflow: hidden;
  width: 240px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.uploaded__image--link-btn {
  border-radius:8px;
  width: 74px;
  height: 30px;
  background: #2F80ED;
  align-items: flex-end;
  cursor: pointer;
}

.Uploaded__image img {
  width: 338px;
  height: 224px;
  border-radius: 12px;
}

.upload__button {
  margin-top: 10px;
  border-radius:8px;
  width: 74px;
  height: 30px;
  background: green;
}
/* Progress bar */

.progress-bar {
  width: 400px;
  height: 143px;
  background-color: #f0f0f0;
  border-radius: 12px;
  position: relative;
  left: 50%;
  transform: translate(-50%,50%);
}

.progress {
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  height: 6px;
  width: 100.71px;
  background-color: #007bff;
  border-radius: 8px;
  animation: progress-animation 2s linear forwards;
}

/* End progress bar */

@keyframes progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}