@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  /* background-color:#FAFAFB; */
  font-family: "Poppins", sans-serif;
}

a {
  color: initial;
  text-decoration: none;
}

.choose_file-btn {
  border-radius: 6px;
  background: #000000;
  border: none;
  width: 165px;
  height: 43.984px;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
}

/* Upload page */

.image p {
  color: #828282;
}

.filename {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 550px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px 0px #0000001a;
}

.image__box {
  bottom: 35px;
  position: relative;
  width: 338px;
  height: 218.903px;
  margin-top: 60px;
  border-radius: 12px;
  background-color: #f6f8fb;
  border: 1px dashed #97bef4;
}

.image__box-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.image h1 {
  color: #4f4f4f;
  text-align: center;
  margin: -2px 0;
  padding: 0;
  line-height: 27px;
  font-size: 18px;
  letter-spacing: -0.035em;
}

.or {
  position: relative;
  bottom: 20px;
}

/* Loaging process */

.loading {
  width: 400.36px;
  height: 143.57px;
  border-radius: 12px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px #0000001a;
}

.loading__box--text {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #4f4f4f;
}

.loading__loader {
  width: 340.71px;
  height: 6px;
  border-radius: 8px;
  background-color: #2f80ed;
  animation: slide 2s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Uploaded image and link */
.Uploaded__image {
  width: 338px;
  height: 224.4px;
  border-radius: 12px;
  justify-content: center;
  margin-bottom: 3px;
}

.Upload__message {
  text-align: center;
}

.Uploaded__image--message {
  display: grid;
  text-align: center;
  justify-content: center;
  width: 198px;
  height: 76.52px;
}

.Upload__message-title {
  font-size: 18px;
  color: #4f4f4f;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 10px;
}

.Uploaded__image--link {
  display: flex;
  border: 1px solid #e0e0e0;
  align-items: center;
  width: 338px;
  height: 34px;
  border-radius: 8px;
  background-color: #f6f8fb;
  justify-content: space-between;
}

.Uploaded__image--link-p {
  text-align: center;
  line-height: 12px;
  font-size: 8px;
  background-color: inherit;
  color: #4f4f4f;
  padding-left: 5px;
  overflow: hidden;
  width: 240px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.uploaded__image--link-btn {
  border-radius: 8px;
  width: 79px;
  height: 30px;
  background: #2f80ed;
  align-items: flex-end;
  cursor: pointer;
  font-family: inherit;
}

.Uploaded__image img {
  width: 338px;
  height: 224px;
  border-radius: 12px;
}

.upload__button {
  margin-top: 10px;
  border-radius: 8px;
  width: 124px;
  height: 40px;
  background: green;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
}

/* Progress bar */
.progress-bar {
  width: 400px;
  height: 143px;
  background-color: #f0f0f0;
  border-radius: 12px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
}

.progress-bar-title {
  position: absolute;
  transform: translate(20%, 100%);
  background-color: #f0f0f0;
}

.progress {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 6px;
  width: 100.71px;
  background-color: #007bff;
  border-radius: 8px;
  animation: progress-animation 3s infinite alternate;
}

/* End progress bar */

/* login page */
/* App styling */

/* Form login page */
.form__signin h1 {
  margin-bottom: 20px;
  text-align: center;
}

.form__signin {
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
}

.form__signin-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #e7e5e5;
}

.form__signin-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.form__signin-input input {
  height: 35px;
  border-radius: 6px;
  border: 0.5px solid #9e9c9c;
  padding-left: 10px;
  /* border: none; */
}

.form__signin-input input:focus {
  border: 1px solid#d1cfcf;
}

.form__signin-btn {
  height: 45px;
  width: 318px;
  border-radius: 4px;
  border: none;
  border-radius: 7px;
  font-weight: 500;
}

.form__signin-btn.login {
  background-color: black;
  color: #fff;
  cursor: pointer;
}

/* End Form login page */

/* Register page */
.form__signin-btn.register {
  background-color: #9e9c9c;
  color: #fff;
  cursor: pointer;
}

/* End Register page */

/* end login page */

@keyframes progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
